* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

.profile-section {
  max-width: 1152px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

#profile-img {
  position: relative;
  display: inline-block;
}

#profile_img_two {
  position: absolute;
  top: 0;
}

#profile-img:hover #profile_img_two {
  display: block;
}

.icon #web-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 348px;
  top: 40px;
}

.icon #mob-icon {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 40px;
}

@media screen and (max-width: 991px) {
  .icon #mob-icon {
    display: block;
  }

  .icon #web-icon {
    display: none;
  }
}

#twitter,
#twitter a {
  text-align: center;
  max-width: 1152px;
  margin-top: 24px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #101828;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.link-container {
  display: flex;
  justify-content: center;
  height: 76px;
  max-width: 1152px;
  margin: 24px auto;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  padding: 24px 32px;
  background: #eaecf0;
}

.link-container:hover {
  background: #d0d5dd;
}

#links a {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #101828;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
}

.social-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  gap: 24px;
  margin: 24px auto;
  max-width: 1216px;
  height: 72px;
  background: #ffffff;
}

footer {
  position: relative;
  max-width: 1152px;
  max-height: 160px;
  padding-top: 24px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eaecf0;
}

@media (max-width: 768px) {
  .profile-section {
    max-width: 375px;
    height: auto;
    margin: 64px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link-container {
    height: 68px;
    max-width: 343px;
  }

  footer {
    margin: 0 10px 10px;
    width: 375px;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 320px) {
  footer,
  .link-container {
    width: 300px;
  }
}
